body {
  font-family: sans-serif;
  margin: 20px;
}
#scrolly {
  display: flex;
}
#graphic {
  flex: 1;
}
#narrative {
  flex: 1;
  padding-left: 20px;
}
section {
  margin: 100px 0;
}
.dash-container {
  display: flex;
  justify-content: space-around;
}
